*.{env.ROOT_DOMAIN}

tls {
	dns cloudflare {env.CF_API_TOKEN}
}

@hello host hello.{env.ROOT_DOMAIN}
handle @hello {
  respond "Howdy."
}

@bye host bye.{env.ROOT_DOMAIN}
handle @bye {
  reverse_proxy http://whoami
}

handle {
  abort
}
